<a href="https://colab.research.google.com/github/WojciechBrzoskaPrv/ML_BOOTCAMP/blob/main/ML_dataPreparing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import numpy as np
import pandas as pd
import sklearn
import pandas_datareader.data as web

    

df_raw = web.DataReader(name='^SPX', data_source='stooq',start='2019-09-10', end='2022-09-08')
df_raw.head()

               Open     High      Low    Close        Volume
Date
2022-09-08  3959.94  4010.50  3944.81  4006.18  2.285383e+09
2022-09-07  3909.43  3987.89  3906.03  3979.87  2.207203e+09
2022-09-06  3930.89  3942.55  3886.75  3908.19  2.245182e+09
2022-09-02  3994.66  4018.43  3906.21  3924.26  2.080326e+09
2022-09-01  3936.73  3970.23  3903.65  3966.85  2.303307e+09

In [4]:
df_copy=df_raw.copy()
df=df_copy[:]
df.info()
df['day']=df.index.day
df['month']=df.index.month
df['year']=df.index.year
df['value_class_close']=pd.cut(df.Close,bins=5)
df['value_class_open']=pd.cut(df.Open,(2000,2500,3000,3500,4500),labels=['extreme_low','low','medium','high'])
df

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 756 entries, 2022-09-08 to 2019-09-10
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Open    756 non-null    float64
 1   High    756 non-null    float64
 2   Low     756 non-null    float64
 3   Close   756 non-null    float64
 4   Volume  756 non-null    float64
dtypes: float64(5)
memory usage: 35.4 KB

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Open,High,Low,Close,Volume,day,month,year,value_class_close,value_class_open
Date,,,,,,,,,,
2022-09-08,3959.94,4010.50,3944.81,4006.18,2.285383e+09,8,9,2022,"(3772.896, 4284.728]",high
2022-09-07,3909.43,3987.89,3906.03,3979.87,2.207203e+09,7,9,2022,"(3772.896, 4284.728]",high
2022-09-06,3930.89,3942.55,3886.75,3908.19,2.245182e+09,6,9,2022,"(3772.896, 4284.728]",high
2022-09-02,3994.66,4018.43,3906.21,3924.26,2.080326e+09,2,9,2022,"(3772.896, 4284.728]",high
2022-09-01,3936.73,3970.23,3903.65,3966.85,2.303307e+09,1,9,2022,"(3772.896, 4284.728]",high
...,...,...,...,...,...,...,...,...,...,...
2019-09-16,2996.41,3002.19,2990.67,2997.96,2.374800e+09,16,9,2019,"(2749.232, 3261.064]",low
2019-09-13,3012.21,3017.33,3002.90,3007.39,1.955589e+09,13,9,2019,"(2749.232, 3261.064]",medium
2019-09-12,3009.08,3020.74,3000.92,3009.57,2.106589e+09,12,9,2019,"(2749.232, 3261.064]",medium
2019-09-11,2981.41,3000.93,2975.31,3000.93,2.181972e+09,11,9,2019,"(2749.232, 3261.064]",low
2019-09-10,2971.01,2979.39,2957.01,2979.39,2.439317e+09,10,9,2019,"(2749.232, 3261.064]",low

In [5]:
df=pd.DataFrame(data={"height":[168.,170.,185.,187.,176.,145.,196]})
df["category_intervals"]=pd.cut(x=df.height,bins=3)
df["category_category"]=pd.cut(x=df.height,bins=(140,170,175,200), labels=['low','medium','high'])
pd.get_dummies(df,drop_first=True,prefix='height')

,height,"height_(162.0, 179.0]","height_(179.0, 196.0]",height_medium,height_high
0,168.0,1,0,0,0
1,170.0,1,0,0,0
2,185.0,0,1,0,1
3,187.0,0,1,0,1
4,176.0,1,0,0,1
5,145.0,0,0,0,0
6,196.0,0,1,0,1

In [6]:
df=pd.DataFrame(data={"lang":[['PL','ENG'],['GER','ENG','PL','FRA'],['RUS']]})
df["lang_number"]=df["lang"].apply(len)
df["IS_POLISH"]=df["lang"].apply(lambda x:1 if 'PL' in x else 0)
df

                  lang  lang_number  IS_POLISH
0            [PL, ENG]            2          1
1  [GER, ENG, PL, FRA]            4          1
2                [RUS]            1          0

In [7]:
df=pd.DataFrame(data={"website":['wp.pl','one.pl','google.com']})
new=df.website.str.split(".",expand=True)
df["extention"]=new[1]
df

      website extention
0       wp.pl        pl
1      one.pl        pl
2  google.com       com